:root {
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #033f47;
    --color-base2: #022a30;
    --color-brand: #e0f780;
    --color-brand2: #deff58;
    --sidebar-width: 240px;
    --font-base: "Rubik", sans-serif;
}

body {
    color: var(--color-body);
    font-family: var(--font-base), sans-serif;
    background: var(--color-base2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-heading);
    font-weight: 700;
}

a {
    color: var(--color-body);
    text-decoration: none;
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-brand);
}

img {
    width: 100%;
}

.text-brand {
    color: var(--color-brand);
}

.bg-base {
    background-color: var(--color-base);
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}


.shadow-effect {
    transition: all 0.5s;
}

.shadow-effect:hover {
    box-shadow: -6px 6px 0 0 var(--color-brand);
}

.iconbox {
    width: 60px;
    height: 60px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: var(--color-base);
    background-color: var(--color-brand);
}

/* Navbar */
.navbar {
    background-color: var(--color-base);
}

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

.navbar .nav-link:hover {
    color: var(--color-brand);
}

.navbar .nav-link.active {
    color: var(--color-brand);
}

@media (min-width: 992px) {
    .navbar {
        width: var(--sidebar-width);
        min-height: 100vh;
        background: linear-gradient(rgba(3, 63, 71, 0.8), rgba(3, 63, 71, 0.8)), url(../images/sidebar.jpg);
        background-size: cover;
        background-position: center;
    }

    .navbar-brand img {
        padding: 10px;
        width: 100%;
        border: 7px solid var(--color-brand);
    }

    /* Content Wrapper  */
    #content--wrapper {
        padding-left: var(--sidebar-width);
    }
}

/* Btn  */
.btn {
    padding: 12px 28px;
    color: var(--color-base);
    background-color: var(--color-brand);
    border-color: var(--color-brand);
}

/* Btn Hover  */
.btn-brand:hover,
.btn-brand:focus {
    background-color: var(--color-brand2);
    color: var(--color-base);
    border-color: var(--color-brand2);
}

/* Custom Link  */
.custom-link {
    position: relative;
    font-weight: 700;
}

.custom-link::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.custom-link:hover::after {
    width: 100%;
}

/* Custom Card  */
.custom-card .custom-card-image {
    overflow: hidden;
}

.custom-card .custom-card-image img {
    transition: all 0.4s ease;
}

.custom-card:hover .custom-card-image img {
    transform: scale(1.1);
}

/* Contact  */
#contact .form-control {
    background-color: var(--color-base);
    border-color: var(--color-base);
    color: var(--color-body);
}

#contact .form-control::placeholder {
    color: var(--color-body);
}

#contact .form-control:focus {
    box-shadow: none;
    border-color: var(--color-brand);
}

#contact input.form-control {
    height: 45px;
}

/* Social Icons  */
.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-base);
    border-radius: 100%;
    font-size: 24px;
}

