 <!-- Footer  -->
 <footer class="py-5 px-lg-5">
    <div class="container">
      <div class="row gy-4 justify-content-between">
        <div class="col-auto">
          <p class="mb-0">&copy; Copyright Code <i><span class="text-brand">with</span></i> Abdulkafiy<span class="text-brand">.</span> 2024</p>
        </div>
        <div class="col-auto">
          <div class="social-icons">
            <a href="#"><span class="i lab la-whatsapp"></span></a>
            <a href="#"><span class="i lab la-github"></span></a>
            <a href="#"><span class="i lab la-instagram"></span></a>
            <a href="#"><span class="i lab la-python"></span></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- // Footer  -->