 <!-- Footer  -->
 <footer class="py-5 px-lg-5">
  <div class="container">
    <div class="row gy-4 justify-content-between">
      <div class="col-auto">
        <p class="mb-0">&copy; Copyright CodeFusion 2024</p>
      </div>
      <div class="col-auto">
       <div class="social-icons">
        <a href="#" class="fs-3"><span class="i lab la-linkedin"></span></a>
        <a href="#" class="fs-3"><span class="i lab la-facebook"></span></a>
        <a href="#" class="fs-3"><span class="i lab la-github"></span></a>
        <a href="#" class="fs-3"><span class="i lab la-instagram"></span></a>
        <a href="#" class="fs-3"><span class="i lab la-dribbble"></span></a>
      </div>
    </div>
  </div>
</div>
</footer>
  <!-- // Footer  -->